<div class="row">
    <div class="col-lg-8">
        <nb-card>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4">
                <nb-card>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-lg-8">
                        <select [(ngModel)]="atelier" id="first" class="form-control float-right" id="atelier" placeholder="atelier">
                            <option *ngFor="let num of atelierList" [ngValue]='num'>{{ num }}</option>
                        </select>
    </div></div></nb-card-body>
                    </nb-card>
                <nb-card><nb-card-header>OTD</nb-card-header><ngx-otw-chart [atelier]="atelier" ></ngx-otw-chart></nb-card>
                <nb-card><nb-card-header>PCD</nb-card-header><ngx-pcd-chart [atelier]="atelier"></ngx-pcd-chart></nb-card>
                <nb-card> <nb-card-header>TRS CMS</nb-card-header><ngx-trs-chart [atelier]="atelier"></ngx-trs-chart></nb-card>
        <nb-card>
            <nb-card-header>Realisation</nb-card-header>
            <ngx-realisation-chart [atelier]="atelier"></ngx-realisation-chart>
        </nb-card>
    </div>
</div>
