<div *ngIf="isGranted || isAdmin" >
<div class="row equal-cols">
  <div class="col-lg-6 panel">
    <nb-card>
      <nb-card-header>Pcd par Semaine</nb-card-header>
      <nb-card-body>
        <div class="full-name-inputs">
          <div class="row">
            <div class="col-sm-12"><div class="form-group">
              <label  class="label">Semaine</label>
              <nb-select  [(ngModel)]="pcdWeek.week" class="type-select "  nbSelect fullWidth
                          placeholder="Semaine" >
                <nb-option *ngFor="let t of Week" [value]="t" >Semaine {{ t }}</nb-option>
              </nb-select></div></div></div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputFirstName1" class="label">Objectif (EURO)</label>
                <input [(ngModel)]=OBJECTIF_EURO class="img-thumbnail" type="number" nbInput fullWidth
                       id="inputFirstName1" placeholder="ObjectifEuro" [disabled] ="true"></div></div></div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputFirstName2" class="label">Objectif  (QTE)</label>
                <input [(ngModel)]="OBJECTIF_QTE" class="img-thumbnail" type="number" nbInput fullWidth
                       id="inputFirstName2" placeholder="ObjectifQte" [disabled] ="true"></div></div></div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputFirstName6" class="label">PCD (EURO)</label>
                <input [(ngModel)]="pcdWeek.pcdEuro" class="img-thumbnail" type="number" nbInput fullWidth
                       id="inputFirstName6" placeholder="PcdEuro">
              </div>
            </div></div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputFirstName5" class="label">PCD (QTE)</label>
                <input [(ngModel)]="pcdWeek.pcdQte" class="img-thumbnail" type="number" nbInput fullWidth
                       id="inputFirstName5" placeholder="PcdQte">
              </div>
            </div></div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputFirstName8" class="label">Ecart (EURO)</label>
                <input value="{{ OBJECTIF_EURO-pcdWeek.pcdEuro }}" class="img-thumbnail" type="number" nbInput fullWidth
                       id="inputFirstName8" DISABLED="true" placeholder="EcartQte">
              </div>
            </div></div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputFirstName7" class="label">Ecart (QTE)</label>
                <input value="{{ OBJECTIF_QTE-pcdWeek.pcdQte }}" class="img-thumbnail" type="number" nbInput fullWidth
                       id="inputFirstName7" DISABLED="true" placeholder="EcartEuro">
              </div>
            </div>
          </div>
          <div class="text-center">
            <button *ngIf="isAdmin" class="btn mr-1 "  (click)="save()" type="submit" nbButton  status="info">Register</button>
            <button class="btn btn-secondary mr-1" (click)="reset()" type="submit" nbButton  status="info" outline>Annuler</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6 panel">
      <ngx-pcd-chart atelier="{{atelier}}"></ngx-pcd-chart>
  </div>
</div>


  <!--nb-card>
      <nb-card-header>
        <div class="row form-group form-check-inline">
          <div class="col-sm-3">
            <label class="label" for="first">D_Semaine</label>
            <select [(ngModel)]="weekFirst" id="first" class="form-control float-left md" fullWidth>
              <option *ngFor="let num of Week" [ngValue]="num">S{{ num }}</option>
            </select></div>
          <div class="col-sm-3">
            <label class="label" for="fin">F_Semaine</label>
            <select [(ngModel)]="weekFin" id="fin" class="form-control float-left md" fullWidth>
              <option *ngFor="let num of Week" [ngValue]="num">S{{ num}}</option>
            </select></div>
          <div class="col-sm-3">
            <label class="label" for="anne">Année</label>
            <input [(ngModel)]="year" [defaultValue]="2019"  id="anne" type="number" min="2000" class="form-control md" nbInput fullWidth>
          </div>
          <div class="col-sm-3">
            <button style="margin-top: 29px; width: 70px;" (click)="searchFor()" class="btn btn-primary float-right">
              <i class="fa fa-chart-bar"></i>
            </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-3">
            <label class="label" for="chart">Type de graphique</label>
            <select [(ngModel)]="stackedChart.typeChart" id="chart" class="form-control float-left md" fullWidth>
              <option *ngFor="let type of chartType" [ngValue]="type.type">{{ type.name }}</option>
            </select></div>
        </div>
        <google-chart
          [title]="stackedChart.title"
          [type]="stackedChart.typeChart"
          [data]="stackedChart.data"
          [columnNames]="stackedChart.columnNames"
          [options]="stackedChart.options"
          [width]="stackedChart.width"
          [height]="stackedChart.height">
        </google-chart>
      </nb-card-body>
      <nb-card-footer class="form-inline">
      </nb-card-footer >
    </--nb-card-->

<nb-card>
  <nb-card-body>
    <ng2-smart-table
                     (createConfirm)="onCreateConfirm($event)"
                     [settings]="settings"
                     [source]="source"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (editConfirm)="onSaveConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>


</div>
