ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nb-card-header , nb-card-footer {
  color: white;
  font-size: large;
  font-family: 'Courier New', Monospace;
  background-color: #2d8ac7;
}
